export PYENV_ROOT=/usrdata/local/pyenv
PATH_add $PYENV_ROOT/bin
export PDM_HOME=/usrdata/local/pdm
PATH_add $PDM_HOME/bin

eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

layout pyenv 3.13.1

export PDM_IGNORE_ACTIVE_VENV=y
export MYPYPATH=stubs
